.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .login-form input,
  .login-form select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form input:focus,
  .login-form select:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #003d80;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  